body {
    margin: 0;
    font-family: Arial, sans-serif;
}

/* Register container (same as login style) */
.register-box {
    background: white;
    padding: 40px;
    width: 350px;
    border-radius: 8px;
    text-align: center;
}

.register-box input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
}

.register-box button {
    width: 100%;
    padding: 10px;
    background: #ff9900;
    border: none;
    color: white;
    cursor: pointer;
}

.register-box button:hover{
    background:#e68a00;
}